
#navlist {
    height: 72px;
    background-color: #FF6F6F;
    display: flex;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

#navlist a:link { text-decoration: none; }

#navlist a:visited { text-decoration: none; }

#navlist a:hover { text-decoration: none; }

#navlist a:active { text-decoration: none; }

/* styling search bar */
.search input[type=text]{
    text-indent: 10px;
    width:300px;
    height:25px;
    border-radius:250px;
    border: none;
}

.search{
    float:right;
    margin:7px;
}

.spacer {
    flex: 1 1 auto;
}

.icon-toolbar{
    color: #f2f2f2;
    font-size: 48px;
}
