<mat-toolbar id="navlist-search" *ngIf="searchPopup" [@inAnimation]>
  <mat-form-field class="full-width remove-decoration" appearance="standard">
    <input matInput placeholder="Find Employees" class="icon-toolbar toobar-search"
    (input) = "onSearchChange()"
    type="text" [(ngModel)]="searchText">
  </mat-form-field>
  <span class="spacer"></span>
    <a matRipple class="expanding-ripple" (click) = "popdownSearch()">
      <mat-icon class="icon-button-search">
        cancel
      </mat-icon>
    </a>
</mat-toolbar>



<mat-toolbar  matRipple [matRippleTrigger]="trigger" id="navlist" *ngIf="!searchPopup" [@outAnimation]>
  <a #trigger class="icon-toolbar" (click)="resetPage()">
    <mat-icon class="icon-button" routerLink="/">
      home
    </mat-icon>
  </a>
  <div *ngIf="displayList">
    <a matRipple [matRippleRadius]=20 (click)="this.employeesAll()">Reset</a>
    <a matRipple [matRippleRadius]=20 (click)="this.employeesAJ()">A-J</a>
    <a matRipple [matRippleRadius]=20 (click)="this.employeesKZ()">K-Z</a>
  </div>
  <span class="spacer"></span>
  <a matRipple class="expanding-ripple" routerLink="/who-we-are">Who We Are</a>
  <a matRipple class="expanding-ripple" routerLink="/news">News</a>
  <a matRipple class="expanding-ripple" routerLink="/documentation">Documentation</a>
  <a matRipple class="expanding-ripple" (click)="openDialog()">Login</a>


  <a matRipple class="expanding-ripple" (click) = "popupSearch()" *ngIf="searchIcon">
    <mat-icon class="icon-button">
      search
    </mat-icon>
  </a>
</mat-toolbar>
