
#navlist {
    height: 72px;
    background-color: #FF6F6F;
    display: flex;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    z-index: 10;
}

#navlist-search {
    height: 72px;
    background-color: #FCFCFC;
    display: flex;
    border-radius: 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.50);
    align-items: center;
    z-index: 20;
    position: absolute;
    top: 0;
}

#navlist a:link { text-decoration: none; }

#navlist a:visited { text-decoration: none; }

#navlist a:hover { text-decoration: none; }

#navlist a:active { text-decoration: none; }

.spacer {
    flex: 1 1 auto;
}

.icon-toolbar{
    color: #f2f2f2;
    font-size: 48px;
    padding-right: 32px;
}

.icon-button{
    color: #f2f2f2;
    font-size: 48px;
    line-height: 60px;
}

.icon-button-search{
    color: #000000;
    font-size: 48px;
    line-height: 60px;
}

.expanding-ripple{
    overflow: visible;
    padding-right: 16px;
    padding-left: 4px;
    cursor: pointer;
}

.full-width{
    width: 100%;
}

.remove-decoration{
    background-color: transparent;
    text-decoration: none;
}

.toobar-search{
    color: #000000;
    font-size: 48px;
    line-height: 60px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}