<div class="userDetails">
  <h2>Employee details</h2>
  <table>
    <tr>
      <td>Name:</td><td>{{employee.first_name}}</td>
    </tr>
    <tr>
      <td>Last Name:</td><td>{{employee.last_name}}</td>
    </tr>
    <tr>
      <td>Company Name:</td><td>{{employee.company_name}}</td>
    </tr>
    <tr>
      <td>Address:</td><td>{{employee.address}}</td>
    </tr>
    <tr>
      <td>City:</td><td>{{employee.city}}</td>
    </tr>
    <tr>
      <td>County:</td><td>{{employee.county}}</td>
    </tr>
    <tr>
      <td>Postal:</td><td>{{employee.postal}}</td>
    </tr>
    <tr>
      <td>Phone:</td><td>{{employee.phone}}</td>
    </tr>
    <tr>
      <td>Email:</td><td>{{employee.email}}</td>
    </tr>
    <tr>
      <td>Web:</td><td>{{employee.web}}</td>
    </tr>

  </table>
</div>
