<div class="userDetails">
  <div class="padding">
    <div class="label">
      Name
    </div>
    <div id="name">
      {{employee.first_name}} {{employee.last_name}}
    </div>
    <div class="padding indent-padding">

        <div class="label">
          Company Name
        </div>
        <div class="details">
          {{employee.company_name}}
        </div>

        <div class="label">
          Address
        </div>
        <div class="details">
          {{employee.address}}
        </div>

        <div class="label">
          City
        </div>
        <div class="details">
          {{employee.city}}
        </div>

        <div class="label">
          County
        </div>
        <div class="details">
          {{employee.county}}
        </div>

        <div class="label">
          Postal
        </div>
        <div class="details">
          {{employee.postal}}
        </div>

        <div class="label">
          Phone
        </div>
        <div class="details">
          {{employee.phone}}
        </div>

        <div class="label">
          Email
        </div>
        <div class="details">
          {{employee.email}}
        </div>

        <div class="label">
          Web
        </div>
        <div class="details">
          {{employee.web}}
        </div>

    </div>
</div>
