<div>
  <form class="form-group">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          First Name:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.first_name" id="first_name" name="first_name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Last Name: 
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.last_name" id="last_name" name="last_name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Company:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.company_name" id="company_name" name="company_name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Address:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.address" id="address" name="address">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          City:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.city" id="city" name="city">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          County:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.county" id="county" name="county">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Postal:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.postal" id="postal" name="postal">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Phone:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.phone" id="phone" name="phone">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Email:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.email" id="email" name="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Web:
        </mat-label>
        <input matInput type="text" [(ngModel)]="newEmployee.web" id="web" name="web">
      </mat-form-field>
    </div>
     
  </form>
</div>

<div class="buttons">
  <button (click)="addEmployee()">Add</button>
  <button (click)="closeDialog()">Cancel</button>
</div>
