<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item *ngFor="let user of employees | filter: this.dataService.searchText" [@inOutAnimation]>
        <div class="menu-item" (click)="setEmployee(user.first_name)">
          {{user.first_name}} {{user.last_name}}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-employee-details *ngIf="this.dataService.selectedEmployee" [@inOutAnimation]></app-employee-details>
  </mat-sidenav-content>
</mat-sidenav-container>

