
<app-header [searchIcon]=false [displayList]=false></app-header>
<body>
<div class="container">
  <div class="mainbox">
    <h1>NEWS</h1>
    <tbody>
      <tr>
        <td class="views-field views-field-field-published-date">
          Nov 17, 2021
        </td>
        <td class="views-field views-field-title">
          <a
            href="https://www.hcltech.com/press-releases/press-releases-business/hcl-technologies-named-leader-idc-marketscape-worldwide"
            hreflang="en" target="blank"
            >HCL Technologies Named a Leader in IDC MarketScape: Worldwide
            Managed Multicloud Services</a>
        </td>
      </tr>
      <tr>
        <td class="views-field views-field-field-published-date">
          Nov 16, 2021
        </td>
        <td class="views-field views-field-title">
          <a
            href="https://www.hcltech.com/press-releases/press-releases-business/hcl-technologies-enhance-euroclears-digital-landscape"
            hreflang="en" target="blank"
            >HCL Technologies to Enhance Euroclear’s Digital Landscape</a
          >
        </td>
      </tr>
      <tr>
        <td class="views-field views-field-field-published-date">
          Nov 12, 2021
        </td>
        <td class="views-field views-field-title">
          <a
            href="https://www.hcltech.com/press-releases/press-releases-business/hcl-technologies-brings-new-jobs-northeast-hartford-center"
            hreflang="en" target="blank"
            >HCL Technologies Brings New Jobs to the Northeast with Hartford
            Center Opening</a
          >
        </td>
      </tr>
      <tr>
        <td class="views-field views-field-field-published-date">
          Nov 10, 2021
        </td>
        <td class="views-field views-field-title">
          <a
            href="https://www.hcltech.com/press-releases/press-releases-business/hcl-technologies-provide-high-school-graduates-technology"
            hreflang="en" target="blank"
            >HCL Technologies to Provide High School Graduates with Technology
            Job Opportunities, Debt-Free College Education</a
          >
        </td>
      </tr>
      <tr>
        <td class="views-field views-field-field-published-date">
          Nov 03, 2021
        </td>
        <td class="views-field views-field-title">
          <a
            href="https://www.hcltech.com/press-releases/press-releases-business/hcl-technologies-launches-dedicated-aws-business-unit"
            hreflang="en" target="blank"
            >HCL Technologies Launches Dedicated AWS Business Unit to Accelerate
            Enterprise Cloud Transformation</a
          >
        </td>
      </tr>
    </tbody>
  </div>
</div>
</body>

<app-footer></app-footer>
