<div class="form-group">
  <div>First Name: <input type="text" id="fn" value= {{dataService.selectedEmployee.first_name}}></div>
  <div>Last Name: <input type="text" value= {{dataService.selectedEmployee.last_name}}></div>
  <div>Company: <input type="text" value= {{dataService.selectedEmployee.company_name}}></div>
  <div>Address: <input type="text" value= {{dataService.selectedEmployee.address}}></div>
  <div>City: <input type="text" value= {{dataService.selectedEmployee.city}}></div>
  <div>County: <input type="text" value= {{dataService.selectedEmployee.county}}></div>
  <div>Postal: <input type="text" value= {{dataService.selectedEmployee.postal}}></div>
  <div>Phone: <input type="text" value= {{dataService.selectedEmployee.phone}}></div>
  <div>Email: <input type="text" value= {{dataService.selectedEmployee.email}}></div>
  <div>Web: <input type="text" value= {{dataService.selectedEmployee.web}}></div>
</div>

<div class="buttons">
  <button (click)="validateFormAndSubmit()">Update</button>
  <button (click)="closeDialog()">Cancel</button>
</div>
