<div class="container">
  <div class="inner-padding">
    <h3>Contact Form</h3>
    <form action="/action_page.php">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label for="fname">First Name</mat-label>
        <input matInput type="text" id="fname" name="firstname" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label for="lname">Last Name</mat-label>
        <input matInput type="text" id="lname" name="lastname" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label for="address">Address</mat-label>
        <input matInput type="text" id="address" name="address" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input matInput type="text" id="email" name="email" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label for="subject">Subject</mat-label>
        <textarea matInput id="subject" name="subject" placeholder="Send us a message" style="height:200px"></textarea>
      </mat-form-field>

      <button mat-flat-button type="submit" color="primary">Submit</button>
      <button mat-stroked-button color="secondary" type="button" (click)="closePopup()" style="margin-left:8px">Cancel</button>
    </form>
  </div>
</div>
